testData/customerOrder_V3/src/main/tibcoMigrated/BusinessProcess_UpdatePayment.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:java="http://www.mulesoft.org/schema/mule/java" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd"><flow name="UpdatePayment"><java:new  constructor="migration-default" class="migration-default" method=" xmlns:ns0="http://www.mulesoft.org/schema/mule/core" name="Java_Code" type="JavaActivity" value="<?xml version=1.0 encoding=UTF-8?><config>            <fileName>UpdatePaymentJavaCode</fileName>            <packageName>BusinessProcess.UpdatePayment</packageName>            <fullsource>package BusinessProcess.UpdatePayment;import java.util.*;import java.io.*;public class UpdatePaymentJavaCode{/****** START SET/GET METHOD, DO NOT MODIFY *****/protected String customerid = ;protected String firstname = ;protected String orderid = ;public String getcustomerid() {return customerid;}public void setcustomerid(String val) {customerid = val;}public String getfirstname() {return firstname;}public void setfirstname(String val) {firstname = val;}public String getorderid() {return orderid;}public void setorderid(String val) {orderid = val;}/****** END SET/GET METHOD, DO NOT MODIFY *****/public UpdatePaymentJavaCode() {}public void invoke() throws Exception {/* Available Variables: DO NOT MODIFYIn  : String customeridIn  : String firstnameOut : String orderid* Available Variables: DO NOT MODIFY *****/String temp1=customerid.substring(0,4);String temp2=firstname.substring(0,3);orderid = ORD + temp1 + temp2 ;}}</fullsource>            <inputData>                <row>                    <fieldName>customerid</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>                <row>                    <fieldName>firstname</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>            </inputData>            <outputData>                <row>                    <fieldName>orderid</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>            </outputData>            <byteCode>                <class>                    <name>UpdatePaymentJavaCode</name>                    <byteCode>yv66vgAAADMANwkADAAjCQAMACQJAAwAJQoADQAmCAAnCgAoACkHACoKAAcAJggAKwoABwAsCgAHAC0HAC4HAC8BAApjdXN0b21lcmlkAQASTGphdmEvbGFuZy9TdHJpbmc7AQAJZmlyc3RuYW1lAQAHb3JkZXJpZAEADWdldGN1c3RvbWVyaWQBABQoKUxqYXZhL2xhbmcvU3RyaW5nOwEABENvZGUBAA9MaW5lTnVtYmVyVGFibGUBAA1zZXRjdXN0b21lcmlkAQAVKExqYXZhL2xhbmcvU3RyaW5nOylWAQAMZ2V0Zmlyc3RuYW1lAQAMc2V0Zmlyc3RuYW1lAQAKZ2V0b3JkZXJpZAEACnNldG9yZGVyaWQBAAY8aW5pdD4BAAMoKVYBAAZpbnZva2UBAApFeGNlcHRpb25zBwAwAQAKU291cmNlRmlsZQEAGlVwZGF0ZVBheW1lbnRKYXZhQ29kZS5qYXZhDAAOAA8MABAADwwAEQAPDAAcAB0BAAAHADEMADIAMwEAF2phdmEvbGFuZy9TdHJpbmdCdWlsZGVyAQADT1JEDAA0ADUMADYAEwEAM0J1c2luZXNzUHJvY2Vzcy9VcGRhdGVQYXltZW50L1VwZGF0ZVBheW1lbnRKYXZhQ29kZQEAEGphdmEvbGFuZy9PYmplY3QBABNqYXZhL2xhbmcvRXhjZXB0aW9uAQAQamF2YS9sYW5nL1N0cmluZwEACXN1YnN0cmluZwEAFihJSSlMamF2YS9sYW5nL1N0cmluZzsBAAZhcHBlbmQBAC0oTGphdmEvbGFuZy9TdHJpbmc7KUxqYXZhL2xhbmcvU3RyaW5nQnVpbGRlcjsBAAh0b1N0cmluZwAhAAwADQAAAAMABAAOAA8AAAAEABAADwAAAAQAEQAPAAAACAABABIAEwABABQAAAAdAAEAAQAAAAUqtAABsAAAAAEAFQAAAAYAAQAAAAoAAQAWABcAAQAUAAAAIgACAAIAAAAGKiu1AAGxAAAAAQAVAAAACgACAAAADQAFAA4AAQAYABMAAQAUAAAAHQABAAEAAAAFKrQAArAAAAABABUAAAAGAAEAAAAQAAEAGQAXAAEAFAAAACIAAgACAAAABiortQACsQAAAAEAFQAAAAoAAgAAABMABQAUAAEAGgATAAEAFAAAAB0AAQABAAAABSq0AAOwAAAAAQAVAAAABgABAAAAFgABABsAFwABABQAAAAiAAIAAgAAAAYqK7UAA7EAAAABABUAAAAKAAIAAAAZAAUAGgABABwAHQABABQAAAA/AAIAAQAAABcqtwAEKhIFtQABKhIFtQACKhIFtQADsQAAAAEAFQAAABYABQAAABwABAAGAAoABwAQAAgAFgAdAAEAHgAdAAIAFAAAAFQAAwADAAAAMCq0AAEDB7YABkwqtAACAwa2AAZNKrsAB1m3AAgSCbYACiu2AAostgAKtgALtQADsQAAAAEAFQAAABIABAAAACUACgAmABQAJwAvACgAHwAAAAQAAQAgAAEAIQAAAAIAIg==</byteCode>                </class>            </byteCode>        </config><?xml version=1.0 encoding=UTF-8?><inputBindings xmlns:ns0=http://xmlns.tibco.com/bw/process/2003>            <javaCodeActivityInput>                <customerid>                    <xsl:value-of xmlns:xsl=http://www.w3.org/1999/XSL/Transform select=$Start/order/customerid/>                </customerid>                <firstname>                    <xsl:value-of xmlns:xsl=http://www.w3.org/1999/XSL/Transform select=$Start/order/firstname/>                </firstname>            </javaCodeActivityInput>        </inputBindings>" config-ref="Java_Config" posX="216" posY="98" ><java:args ><![CDATA[            <fileName>UpdatePaymentJavaCode</fileName>            <packageName>BusinessProcess.UpdatePayment</packageName>            <fullsource>package BusinessProcess.UpdatePayment;import java.util.*;import java.io.*;public class UpdatePaymentJavaCode{/****** START SET/GET METHOD, DO NOT MODIFY *****/protected String customerid = ;protected String firstname = ;protected String orderid = ;public String getcustomerid() {return customerid;}public void setcustomerid(String val) {customerid = val;}public String getfirstname() {return firstname;}public void setfirstname(String val) {firstname = val;}public String getorderid() {return orderid;}public void setorderid(String val) {orderid = val;}/****** END SET/GET METHOD, DO NOT MODIFY *****/public UpdatePaymentJavaCode() {}public void invoke() throws Exception {/* Available Variables: DO NOT MODIFYIn  : String customeridIn  : String firstnameOut : String orderid* Available Variables: DO NOT MODIFY *****/String temp1=customerid.substring(0,4);String temp2=firstname.substring(0,3);orderid = ORD + temp1 + temp2 ;}}</fullsource>            <inputData>                <row>                    <fieldName>customerid</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>                <row>                    <fieldName>firstname</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>            </inputData>            <outputData>                <row>                    <fieldName>orderid</fieldName>                    <fieldType>string</fieldType>                    <fieldRequired>optional</fieldRequired>                </row>            </outputData>            <byteCode>                <class>                    <name>UpdatePaymentJavaCode</name>                    <byteCode>yv66vgAAADMANwkADAAjCQAMACQJAAwAJQoADQAmCAAnCgAoACkHACoKAAcAJggAKwoABwAsCgAHAC0HAC4HAC8BAApjdXN0b21lcmlkAQASTGphdmEvbGFuZy9TdHJpbmc7AQAJZmlyc3RuYW1lAQAHb3JkZXJpZAEADWdldGN1c3RvbWVyaWQBABQoKUxqYXZhL2xhbmcvU3RyaW5nOwEABENvZGUBAA9MaW5lTnVtYmVyVGFibGUBAA1zZXRjdXN0b21lcmlkAQAVKExqYXZhL2xhbmcvU3RyaW5nOylWAQAMZ2V0Zmlyc3RuYW1lAQAMc2V0Zmlyc3RuYW1lAQAKZ2V0b3JkZXJpZAEACnNldG9yZGVyaWQBAAY8aW5pdD4BAAMoKVYBAAZpbnZva2UBAApFeGNlcHRpb25zBwAwAQAKU291cmNlRmlsZQEAGlVwZGF0ZVBheW1lbnRKYXZhQ29kZS5qYXZhDAAOAA8MABAADwwAEQAPDAAcAB0BAAAHADEMADIAMwEAF2phdmEvbGFuZy9TdHJpbmdCdWlsZGVyAQADT1JEDAA0ADUMADYAEwEAM0J1c2luZXNzUHJvY2Vzcy9VcGRhdGVQYXltZW50L1VwZGF0ZVBheW1lbnRKYXZhQ29kZQEAEGphdmEvbGFuZy9PYmplY3QBABNqYXZhL2xhbmcvRXhjZXB0aW9uAQAQamF2YS9sYW5nL1N0cmluZwEACXN1YnN0cmluZwEAFihJSSlMamF2YS9sYW5nL1N0cmluZzsBAAZhcHBlbmQBAC0oTGphdmEvbGFuZy9TdHJpbmc7KUxqYXZhL2xhbmcvU3RyaW5nQnVpbGRlcjsBAAh0b1N0cmluZwAhAAwADQAAAAMABAAOAA8AAAAEABAADwAAAAQAEQAPAAAACAABABIAEwABABQAAAAdAAEAAQAAAAUqtAABsAAAAAEAFQAAAAYAAQAAAAoAAQAWABcAAQAUAAAAIgACAAIAAAAGKiu1AAGxAAAAAQAVAAAACgACAAAADQAFAA4AAQAYABMAAQAUAAAAHQABAAEAAAAFKrQAArAAAAABABUAAAAGAAEAAAAQAAEAGQAXAAEAFAAAACIAAgACAAAABiortQACsQAAAAEAFQAAAAoAAgAAABMABQAUAAEAGgATAAEAFAAAAB0AAQABAAAABSq0AAOwAAAAAQAVAAAABgABAAAAFgABABsAFwABABQAAAAiAAIAAgAAAAYqK7UAA7EAAAABABUAAAAKAAIAAAAZAAUAGgABABwAHQABABQAAAA/AAIAAQAAABcqtwAEKhIFtQABKhIFtQACKhIFtQADsQAAAAEAFQAAABYABQAAABwABAAGAAoABwAQAAgAFgAdAAEAHgAdAAIAFAAAAFQAAwADAAAAMCq0AAEDB7YABkwqtAACAwa2AAZNKrsAB1m3AAgSCbYACiu2AAostgAKtgALtQADsQAAAAEAFQAAABIABAAAACUACgAmABQAJwAvACgAHwAAAAQAAQAgAAEAIQAAAAIAIg==</byteCode>                </class>            </byteCode>        <]]></java:args></java:new><java:invoke doc:name="Invoke" instance="#[payload]" class="migration-default" method="migration-default"/><db:update  xmlns:ns0="http://www.mulesoft.org/schema/mule/core" xmlns:ns1="http://www.mulesoft.org/schema/mule/db" config-ref="Database_Config" name="UpdateDiscountStatus" posX="359" posY="94" type="JDBCUpdateActivity"><db:sql><![CDATA[insert into orderdetails (orderid ,customerid, firstname ,  lastname , productcode , price , discountstatus, orderDatetime) values(?,?,?,?,?,?,?,?)
                    <parameterName>orderid</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>customerid</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>firstname</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>lastname</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>productcode</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>price</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>discountstatus</parameterName>
                    <dataType>VARCHAR</dataType>
                </parameter>
                <parameter>
                    <parameterName>orderDatetime</parameterName>
                    <dataType>TIMESTAMP</dataType>
                ]]></db:sql></db:update><flow-ref name="LogandErrorHandler"  doc:name="LogandErrorHandler"  /></flow></mule>